<form [formGroup]="whittlerProfileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="first name" type="text" formControlName="FirstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="last name" type="text" formControlName="LastName">
    </mat-form-field>
    <button type="submit" [disabled]="!whittlerProfileForm.valid">Submit</button>
</form>
