<form [formGroup]="updateForkForm">
    <mat-form-field appearance="standard">
      <mat-label>Left</mat-label>
      <input matInput formControlName="leftBranch" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Right</mat-label>
        <input matInput formControlName="rightBranch" required>
    </mat-form-field> 
    <mat-form-field appearance="standard">
      <mat-label>In Tree</mat-label>
      <input matInput formControlName="inTree" readonly>
  </mat-form-field>    
    <button mat-button [disabled]="!updateForkForm.valid || inTree()" (click)="update()">Update</button>
  </form>
