<form [formGroup]="addDupleForm">

    <mat-form-field appearance="standard">
        <mat-label>Choice A Name</mat-label>
        <input matInput formControlName="choiceAName" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Choice A Description</mat-label>
        <input matInput formControlName="choiceADescription" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Choice A ImageId</mat-label>
        <input matInput formControlName="choiceAImageId" required>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Choice B Name</mat-label>
        <input matInput formControlName="choiceBName" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Choice B Description</mat-label>
        <input matInput formControlName="choiceBDescription" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Choice B ImageId</mat-label>
        <input matInput formControlName="choiceBImageId" required>
    </mat-form-field>

    <button mat-button [disabled]="!addDupleForm.valid" (click)="add()">Add</button>
</form>